<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %></div>

  <div><%= f.label :department %><br />
  <!-- <%= f.text_field :department %> -->
  <%= f.select :department, "<option value='frontend'> UED - 前端 </option><option value='design'> UED - 设计 </option><option value='backend'> 研发 - 后台 </option><option value='mobile'> 研发 - 移动 </option><option value='system'> 研发 - 系统 </option><option value='product'> 产品 </option>".html_safe %>
  </div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
