<%= link_to 'sign out', destroy_member_session_path, :method => "delete" %>

<form action="" id="post-form">

  <p>
    <label for="">title:</label>
    <input type="text" id="title">
  </p>

  <p>
    <label for="">content:</label><br>
    <textarea name="" cols="30" rows="10" id="content"></textarea>
  </p>

  <p>
    <select name="" id="cate">
      <option value="frontend">前端</option>
      <option value="backend">后台</option>
      <option value="mobile">移动</option>
      <option value="system">系统</option>
      <option value="design">设计</option>
      <option value="product">产品</option>
    </select>
  </p>

  <p>
    <label for="">file:</label>
    <input type="file">
  </p>

  <p>
    <button id="post-submit">submit</button>
  </p>
</form>

<% @posts.each do |post| %>
  
  <div>
    <p>
      <%= link_to 'show', posts_path %>
    </p>
    <p><%= post.member_id %></p>
    <p><%= post.title %></p>
    <p><%= post.content %></p>
    <p><%= post.url %></p>
    <p><%= post.created_at.localtime.to_formatted_s(:db) %></p>
  </div>

<% end %>